<div class="container" ng-controller="profileCtrl as ctrl" ng-init="ctrl.getJobs()">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="page-header">

                <div class="alert alert-danger">
                    Mensaje error
                </div>

                <div class="col-md-12">
                    <div class="img-thumbnail" id="image">
                        <a ng-href="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png" alt="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png"></a>
                    </div>
                </div>

                <form method="post" action="">
                    <div class="form-group">
                        <label class="control-label" for="profile_image">Imagen de Perfil URL:</label>
                        <input type="url" id="profile_image" name="profile_image" class="form-control" value="{{ name }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Nombres:</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{ name }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="last_name">Apellidos:</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" value="{{ name }}">
                    </div>
                    <div class="form-group">
                        <label for="job">Tipo de Servicio:</label>
                        <select class="form-control" id="job">
                            <option ng-repeat="record in jobs" >
                                {{record.fields.jobName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="years_of_experience">Años de Experiencia:</label>
                        <input type="number" id="years_of_experience" name="years_of_experience" class="form-control" value="{{ name }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="phone_number">Teléfono:</label>
                        <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ name }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">E-mail:</label>
                        <input type="email" id="email" name="email" class="form-control" value="{{ name }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a href="#/independents" class="btn btn-default">Volver</a>
                </form>

            </div>
        </div>
    </div>
</div>